<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="240">
    <style>
        
        @font-face {
            font-family: OpenSans;
            src: url("/OpenSans.ttf") format("opentype");
        }
        @font-face {
            font-family: Azonix;
            src: url("/Azonix.otf") format("opentype");
        }

        h1, aside {
            font-family: "Azonix";
            margin-bottom: 8px;
        }

        h1 { font-size: 44pt; line-height: 1; }
        aside { font-size: 16pt; }

        .match {
            font-family: 'OpenSans';
            font-size: 8pt;
        }

        old-aside {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            width: 70px;
        }

        .widget {
            width: 250px;
            position: relative;
        }
        .map {
            text-align: center;
            color: #808080;
            padding-bottom: 4px;
            font-family: 'OpenSans';
            font-size: 8pt;
        }

        .race-T {
            color:#6495ed;
            font-family: 'OpenSans';
            font-size: larger;
        }
        .race-P {
            color:lightgreen;
            font-family: 'OpenSans';
            font-size: larger;
        }
        .race-Z {
            color:indianred;
            font-family: 'OpenSans';
            font-size: larger;
        }

        .match {
            background-color: rgba(255,255,255,0.1);
            border: 1px solid rgba(255,255,255,0.05);
            padding: 4px;
            margin-bottom: 6px;
            text-align: center;
        }
    </style>

<body>
    <div class="widget">
        <aside>LAST MATCHES</aside>
        {{#each matches}}
            <div class="match">
                {{winner.name}} <span class="race-{{race winner.race}}">{{race winner.race}}</span>
                {{#if hasWinner }}&gt;{{else}}={{/if}} <span class="race-{{race loser.race}}">{{race loser.race}}</span> {{loser.name}}
                <br />
                <span class="map">{{len}} on {{map}}</span>
            </div>
        {{/each}}
    </div>
</body>

</html>